<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sleeper">
            <h2><span jhiTranslate="partySleeperPlannerApp.sleeper.detail.title">Sleeper</span> {{sleeper.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="partySleeperPlannerApp.sleeper.name">Name</span></dt>
                <dd>
                    <span>{{sleeper.name}}</span>
                </dd>
                <dt><span jhiTranslate="partySleeperPlannerApp.sleeper.site">Site</span></dt>
                <dd>
                    <div *ngIf="sleeper.siteId">
                        <a [routerLink]="['/location', sleeper.siteId, 'view']">{{sleeper.siteName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sleeper', sleeper.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
